Source: gst-plugins-ugly0.10
Section: libs
Priority: optional
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Prashanth Kumar D <prashanth.kd@samsung.com>, Kishore Arepalli <kishore.a@samsung.com>, Wonhyung Cho <wh01.cho@samsung.com>, YoungHwan Ahn<younghwan_.an@samsung.com>
Build-Depends: autotools-dev,
               cdbs (>= 0.4.20),
               debhelper (>= 5),
               libgstreamer0.10-dev (>= 0.10.25),
               gstreamer0.10-plugins-base,
               gstreamer-tools (>= 0.10.14),
               libgstreamer-plugins-base0.10-dev (>= 0.10.25),
               liboil0.3-dev (>= 0.3.8),
               pkg-config (>= 0.11.0),
               drm-service-dev,
               libopencore-amrnb-dev,
               libopencore-amrwb-dev
Standards-Version: 3.8.3

Package: gstreamer0.10-plugins-ugly
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         drm-service-0
Conflicts: gstreamer0.10-plugins-bad (<< 0.10.5.2)
Replaces: gstreamer0.10-plugins-good (<< 0.10.9.2),
          gstreamer0.10-plugins-bad (<< 0.10.10.2)
Provides: ${gstreamer:Provides}
Description: GStreamer plugins from the "ugly" set
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This packages contains plugins from the "ugly" set, a set of
 good-quality plug-ins that might pose distribution problems.

Package: gstreamer0.10-plugins-ugly-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-plugins-ugly (= ${Source-Version})
Description: GStreamer plugins from the "ugly" set (unstripped)
